.tarjeta{
    color: black;
}

.tarjeta:hover {
    color: rgb(24, 181, 220);
}

.card-taman {
    width: 250px;
    height: 500px;
}
.decoracion{
    text-decoration: none;
    color: black;

}
.card-orden{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    gap: 10%;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 500px;
}